<mat-card class="card">
    <mat-card-header>{{selectedSecurity}}</mat-card-header>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem">Company Name: {{companyName}}</mat-list-item>
            <mat-list-item role="listitem">Price: {{price}}</mat-list-item>
            <mat-list-item role="listitem">Latest Volume: {{latestVolume}}</mat-list-item>
            <mat-list-item role="listitem">Previous Volume: {{previousVolume}}</mat-list-item>
            <mat-list-item role="listitem">Average Total Volume: {{avgTotalVolume}}</mat-list-item>
            <mat-list-item role="listitem">Ask Price: {{askPrice}}</mat-list-item>
            <mat-list-item role="listitem">Ask Size: {{askSize}}</mat-list-item>
            <mat-list-item role="listitem">Bid Price: {{bidPrice}}</mat-list-item>
            <mat-list-item role="listitem">Bid Size: {{bidSize}}</mat-list-item>
          </mat-list>
    </mat-card-content>
</mat-card>
